name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - LICENSE
      - README.md
      - scripts/*
      - .clangd
      - .clang-format
      - .gitignore
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1

      - name: Configure CMake
        run: cmake --preset=release

      - name: Build project
        run: cmake --build --preset=release

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: dinput8.dll
          path: build/release/src/dinput8.dll
